* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rebeccapurple;
}

header {
    text-align: center;
    padding: 32px;
}

header img {
    width: 200px;
}

main {
    background-color: antiquewhite;
    border: 4px black solid;
    border-radius: 5px;
    padding: 32px;
    margin: 32px auto;
    width: 700px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 14px 0px;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

a {
    text-decoration: none;
    font-weight: bold;
    background-color: orange;
    padding: 4px;
    border-radius: 4px;
}

a:hover,
a:active {
    background-color: rgb(250, 201, 39);
}

footer {
    text-align: center;
}

.extra-important {
    color: orange;
    border-color: rgb(247, 209, 85);
}

.button {
    padding: 12px 20px;
    border-radius: 8px;
}

.button:hover,
.button:active {
    background-color: orangered;
}

